.cnt {
    padding-top: 10px;
}
.form-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.form-container button {
    margin-left: 20px;
}
.label {
    padding-right: 10px;
}
.content{
    margin: 20px 5%;
    display:grid;
    justify-content: space-between;
    grid-template-columns: 30% 30% 30%;
}
.movie{
    background-color: #305252;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    overflow:hidden;
    transition: .5s;
}
.movie a{
    text-align:center;
    text-decoration: none;
    color: #fff;
    align-self: center;
    width: 100%;
}
.movie img{
    width: 100%;
}
.movie button{
    background-color: rgba(0, 0, 0, 0)
}
.movie:hover {-webkit-transform:scale(1.1);transform:scale(1.1);
background-color: #488286;}
.movie {overflow:hidden;}