.movie-detail{
  display: flex;
  justify-content: center;
}
.detail{
  display: grid;
  grid-template-rows: 80px 30px;
  grid-template-columns: 38% 62%;
  width: 80%;
  background-color: white;
  box-shadow: inset 0 -3em 3em rgb(0 0 0 / 10%), -2px 2px 3px 0px rgb(255 255 255), 0.3em 0.3em 1em rgb(0 0 0 / 30%);
}
.detail img{
  grid-row-start: 2;
  grid-row-end: 10;
  margin-left: 20px;
  width: 300px
}
.detail h2{
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
.detail p{
  margin: 0 15px 15px 0;
  grid-column-start: 2;
  grid-column-end: 3;
}


